XML/merveilles.dtd

<!ELEMENT merveille (identite, description, visite, liens?)>


<!ATTLIST merveille
  id ID #REQUIRED
  type (monument|cite|site|statue) #REQUIRED
  periode (antique|medieval|moderne|mixte) "mixte"
>

<!ELEMENT identite (nom, pays, lieu, coordonnees?)>

<!ELEMENT nom (#PCDATA)>

<!ELEMENT pays (#PCDATA)>
<!ATTLIST pays continent (asie|europe|afrique|amerique|oceanie) #REQUIRED>

<!ELEMENT lieu (#PCDATA)>

<!ELEMENT coordonnees (latitude, longitude)>
<!ELEMENT latitude (#PCDATA)>
<!ELEMENT longitude (#PCDATA)>


<!ELEMENT description (resume, histoire, architecture?, faits?)>
<!ELEMENT resume (#PCDATA)>
<!ELEMENT histoire (#PCDATA)>
<!ELEMENT architecture (#PCDATA)>

<!ELEMENT faits (fait+)>
<!ELEMENT fait (#PCDATA)>
<!ATTLIST fait type (date|dimension|materiau|usage|autre) "autre">

<!ELEMENT visite (etapes, galerie?)>

<!ELEMENT etapes (etape+)>

<!ELEMENT etape (titre, texte, duree?)>
<!ATTLIST etape
  ordre CDATA #REQUIRED
  categorie (intro|contexte|architecture|experience|bonus) #REQUIRED
  difficulte (facile|moyen|difficile) "facile"
  img IDREF #IMPLIED
>

<!ELEMENT titre (#PCDATA)>
<!ELEMENT texte (#PCDATA)>
<!ELEMENT duree (#PCDATA)>


<!ELEMENT galerie (image+)>

<!ELEMENT image (fichier, legende?)>
<!ATTLIST image
  id ID #REQUIRED
  type (photo|plan|carte|illustration) "photo"
>
<!ELEMENT fichier (#PCDATA)>
<!ELEMENT legende (#PCDATA)>
<!ELEMENT liens (lien+)>
<!ELEMENT lien (#PCDATA)>

<!ATTLIST lien type (wiki|unesco|autre) "autre">
